* {
	box-sizing: border-box;
}
body {
	height: 100vh;	/* el body tiene el 100% de la altura de la pantalla */
	margin: 0;
	font-family: sans-serif;
	
	/* Para centrar el contenido en horizontal y vertical */
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-image: url("https://cdn.pixabay.com/photo/2018/04/04/22/14/abstract-3291293_960_720.jpg");	
	background-size: cover;
	background-position: center;
}

.calculadora {
	width: 400px;
	border: 2px solid #666;
	border-radius: 6px;
	padding: 10px;
    background: linear-gradient(to bottom,  #f7fbfc 0%,#dee4ed 57%,#c5d2e0 100%);
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.4);
	/* transform: rotate(180deg); */
}

.historial {
	height: 100px;
	background-color: linear-gradient(to bottom,  #f7fbfc 0%,#dee4ed 57%,#c5d2e0 100%);
	color: black;
	display: flex; align-items: center; justify-content: flex-end;
	padding: 0 12px;
	font-size: 200%; font-family: monospace;
}

.divRecord {
	background-color: #fff;
	font-size: 200%; font-family: monospace;
	width: 300px;
	max-width: 100%;
	padding: 30px 50px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.pantalla {
	height: 80px;
	background-color: darkseagreen;
	color: black;
	border: 8px solid #333;
	border-radius: 6px;
	margin-bottom: 20px;
	box-shadow: inset 0 4px 5px 0 rgba(0, 0, 0, 0.4);
	
	display: flex; align-items: center; justify-content: flex-end;
	padding: 0 12px;
	font-size: 300%; font-family: monospace;
}

.teclado {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 50px;
	gap: 10px;
}

.teclado button:hover {
	background-color: #FB7E29;
	color: #fff;
}

.teclado button {
	border: 2px solid #333;
	border-radius: 4px;
	font-size: 24px;
	background-color: #DDD;
	box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, .6), 
		inset 0 -2px 1px 0 rgba(0,0,0, .4);

}

.teclado button:active {
	filter: brightness(90%);
}

.teclado button[data-accion] {
	background-color: #444;
	color: white;
}

.teclado button[data-accion]:hover {
	background-color: #FB7E29;
	color: #fff;
}

.teclado button[data-texto="*"],
.teclado button[data-texto="/"],
.teclado button[data-texto="-"],
.teclado button[data-texto="+"]
{
	background-color: #5d82a7;
	color: white;
}

.mod {
	background-color: #24588d;
	color: #DDD;
}

.mod button:hover {
	background-color: #FB7E29;
	color: #fff;
	}

.teclado button[data-texto="*"]:hover,
.teclado button[data-texto="/"]:hover,
.teclado button[data-texto="-"]:hover,
.teclado button[data-texto="+"]:hover,
.teclado button[data-texto="%"]:hover
{
	background-color: #FB7E29;
	color: #fff;
	}
.expandir{
	background-color: #DDD;
	background-image: url(../icon/expandir.png);
	background-repeat: no-repeat;
	background-position: 30px center;
	background-size: 30px;
	border: 2px solid #333;
	border-radius: 4px;
	font-size: 24px;
	background-color: #DDD;
	box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, .6), 
		inset 0 -2px 1px 0 rgba(0,0,0, .4);
	} 
.expandir:hover{
	background-color: #F44512
}